.td-width {
    max-width: 45%;
}

.zoom:hover {
    /* -webkit-transform: rotate(-2deg); */
            /* transform: rotate(-2deg); */
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            animation-name: zoom;
            animation-duration: 0.25s !important;
            border-left: 5px solid #FFD700 !important;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.20) !important;
            border-right: 2px solid black !important;
        }

        @keyframes zoom {
            0%   {border-left: 2px solid #ffffff;}
            25%  {border-left: 3px solid #ffe6e6;}
            50%  {border-left: 4px solid #ff8080;}
            100% {border-left: 5px solid #ff0000;}
        }

        .table-rounded{
            border-radius: 15px !important;
                border-style: solid !important;
                border: 1px solid black !important;
        }

        .card {
            border-bottom-left-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
        }

        .table > tbody > tr:first-child > td {
            border: none !important;
        }

        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: #F8F9FA;
          }